In [1]:
# Initializing the medical data string with various formatting issues
medical_data = \
"""Marina Allison   ,27   ,   31.1 , 
#7010.0   ;Markus Valdez   ,   30, 
22.4,   #4050.0 ;Connie Ballard ,43 
,   25.3 , #12060.0 ;Darnell Weber   
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1 
,#3022.0   ;   Vinay Padilla,24,   
26.9 ,#4620.0 ;Meredith Santiago, 51   , 
29.3 ,#16330.0;   Andre Mccarty, 
19,22.7 , #2900.0 ; 
Lorena Hodson ,65, 33.1 , #19370.0; 
Isaac Vu ,34, 24.8,   #7045.0"""

In [2]:
# Replace '#' with '$' in the medical data
updated_medical_data = medical_data.replace("#","$")
print(updated_medical_data)

Marina Allison   ,27   ,   31.1 ,
$7010.0   ;Markus Valdez   ,   30,
22.4,   $4050.0 ;Connie Ballard ,43
,   25.3 , $12060.0 ;Darnell Weber
,   35   , 20.6   , $7500.0;
Sylvie Charles   ,22, 22.1
,$3022.0   ;   Vinay Padilla,24,
26.9 ,$4620.0 ;Meredith Santiago, 51   ,
29.3 ,$16330.0;   Andre Mccarty,
19,22.7 , $2900.0 ;
Lorena Hodson ,65, 33.1 , $19370.0;
Isaac Vu ,34, 24.8,   $7045.0

In [ ]:
# Initialize a counter for the number of records, then count the number of records by counting the '$' characters
num_records = 0
for character in updated_medical_data:
  if character == "$":
    num_records += 1
print(f"There are {num_records} medical records in the data.")

In [5]:
# Split the data into individual records
medical_data_split = updated_medical_data.split(";")
print(medical_data_split)

['Marina Allison   ,27   ,   31.1 , \n$7010.0   ', 'Markus Valdez   ,   30, \n22.4,   $4050.0 ', 'Connie Ballard ,43 \n,   25.3 , $12060.0 ', 'Darnell Weber   \n,   35   , 20.6   , $7500.0', '\nSylvie Charles   ,22, 22.1 \n,$3022.0   ', '   Vinay Padilla,24,   \n26.9 ,$4620.0 ', 'Meredith Santiago, 51   , \n29.3 ,$16330.0', '   Andre Mccarty, \n19,22.7 , $2900.0 ', ' \nLorena Hodson ,65, 33.1 , $19370.0', ' \nIsaac Vu ,34, 24.8,   $7045.0']

In [6]:
# Initialize an empty list to store the cleaned records
medical_records = []

In [7]:
# Iterate through each record and split it into components
for record in medical_data_split:
    medical_records.append(record.split(","))

In [8]:
# Clean and format each record
medical_records_clean = []
print(medical_records)

[['Marina Allison   ', '27   ', '   31.1 ', ' \n$7010.0   '], ['Markus Valdez   ', '   30', ' \n22.4', '   $4050.0 '], ['Connie Ballard ', '43 \n', '   25.3 ', ' $12060.0 '], ['Darnell Weber   \n', '   35   ', ' 20.6   ', ' $7500.0'], ['\nSylvie Charles   ', '22', ' 22.1 \n', '$3022.0   '], ['   Vinay Padilla', '24', '   \n26.9 ', '$4620.0 '], ['Meredith Santiago', ' 51   ', ' \n29.3 ', '$16330.0'], ['   Andre Mccarty', ' \n19', '22.7 ', ' $2900.0 '], [' \nLorena Hodson ', '65', ' 33.1 ', ' $19370.0'], [' \nIsaac Vu ', '34', ' 24.8', '   $7045.0']]

In [9]:
# Iterate through each record and strip whitespace from each item
for record in medical_records:
    record_clean = []
    for item in record:
      record_clean.append(item.strip())
    medical_records_clean.append(record_clean)
print(medical_records_clean)

[['Marina Allison', '27', '31.1', '$7010.0'], ['Markus Valdez', '30', '22.4', '$4050.0'], ['Connie Ballard', '43', '25.3', '$12060.0'], ['Darnell Weber', '35', '20.6', '$7500.0'], ['Sylvie Charles', '22', '22.1', '$3022.0'], ['Vinay Padilla', '24', '26.9', '$4620.0'], ['Meredith Santiago', '51', '29.3', '$16330.0'], ['Andre Mccarty', '19', '22.7', '$2900.0'], ['Lorena Hodson', '65', '33.1', '$19370.0'], ['Isaac Vu', '34', '24.8', '$7045.0']]

In [10]:
# Iterate through each record and capitalize the first letter of each name
for record in medical_records_clean:
  record[0] = record[0].upper()
print(medical_records_clean)

[['MARINA ALLISON', '27', '31.1', '$7010.0'], ['MARKUS VALDEZ', '30', '22.4', '$4050.0'], ['CONNIE BALLARD', '43', '25.3', '$12060.0'], ['DARNELL WEBER', '35', '20.6', '$7500.0'], ['SYLVIE CHARLES', '22', '22.1', '$3022.0'], ['VINAY PADILLA', '24', '26.9', '$4620.0'], ['MEREDITH SANTIAGO', '51', '29.3', '$16330.0'], ['ANDRE MCCARTY', '19', '22.7', '$2900.0'], ['LORENA HODSON', '65', '33.1', '$19370.0'], ['ISAAC VU', '34', '24.8', '$7045.0']]

In [11]:
# Extract names, ages, BMIs, and insurance costs into separate lists
names = []
ages = []
bmis = []
insurance_costs = []

In [12]:
# Iterate through each cleaned record and append the values to the respective lists
for record in medical_records_clean:
    names.append(record[0])
    ages.append(record[1])
    bmis.append(record[2])
    insurance_costs.append(record[3])
print(names, ages, bmis, insurance_costs)

['MARINA ALLISON', 'MARKUS VALDEZ', 'CONNIE BALLARD', 'DARNELL WEBER', 'SYLVIE CHARLES', 'VINAY PADILLA', 'MEREDITH SANTIAGO', 'ANDRE MCCARTY', 'LORENA HODSON', 'ISAAC VU'] ['27', '30', '43', '35', '22', '24', '51', '19', '65', '34'] ['31.1', '22.4', '25.3', '20.6', '22.1', '26.9', '29.3', '22.7', '33.1', '24.8'] ['$7010.0', '$4050.0', '$12060.0', '$7500.0', '$3022.0', '$4620.0', '$16330.0', '$2900.0', '$19370.0', '$7045.0']

In [13]:
# Initialiize total_bmi to 0, Iterate through the list of BMIs, convert each to float, add to total_bmi, and then calculate the average
total_bmi = 0
for bmi in bmis:
  total_bmi += float(bmi)
average_bmi = total_bmi / len(bmis)
print(f"Average BMI: {round(average_bmi,2)}")

Average BMI: 25.83

In [14]:
# Initialize total_age to 0, Iterate through the list of ages, convert each to int, add to total_age, and then calculate the average
total_insurance_cost = 0
for cost in insurance_costs:
  total_insurance_cost += float(cost[1:])
average_insurance_cost = total_insurance_cost / len(insurance_costs)
print(f"Average Insurance Cost: ${average_insurance_cost:.2f}")

Average Insurance Cost: $8390.70

In [15]:
# Print formatted output for each individual
i = 0
for name in names:
  print(f"{names[i]} is {ages[i]} years old with a BMI of {bmis[i]} and an insurance cost of {insurance_costs[i]}0.")
  i +=1

MARINA ALLISON is 27 years old with a BMI of 31.1 and an insurance cost of $7010.00.
MARKUS VALDEZ is 30 years old with a BMI of 22.4 and an insurance cost of $4050.00.
CONNIE BALLARD is 43 years old with a BMI of 25.3 and an insurance cost of $12060.00.
DARNELL WEBER is 35 years old with a BMI of 20.6 and an insurance cost of $7500.00.
SYLVIE CHARLES is 22 years old with a BMI of 22.1 and an insurance cost of $3022.00.
VINAY PADILLA is 24 years old with a BMI of 26.9 and an insurance cost of $4620.00.
MEREDITH SANTIAGO is 51 years old with a BMI of 29.3 and an insurance cost of $16330.00.
ANDRE MCCARTY is 19 years old with a BMI of 22.7 and an insurance cost of $2900.00.
LORENA HODSON is 65 years old with a BMI of 33.1 and an insurance cost of $19370.00.
ISAAC VU is 34 years old with a BMI of 24.8 and an insurance cost of $7045.00.